body{ color: #000000; font-family: "Helvetica Neue", Helvetica;}
h1 {color:  #ffc1f3; font-size: 3em; }
h2 {color: #ffc1f3; font-size: 2em; }
body {background-color: #FFFFFF;}
a:link {color: #cffffe;}
nav {background-color: #c2c2d6;}
nav a {color: #ffc1f3;}
nav a:hover{background-color: #666699;}
nav {padding: 10px;}
nav {margin-bottom: 30px}